APP_NAME=liberty_shield
APP_KEY=secret
PORT=9000
APP_URL=

CLIENT_APP_URL=http://localhost:3000
SESSION_SECRET=secret
JWT_SECRET=secret
JWT_EXPIRY=86400000

DATABASE_URL=

CORS_ORIGINS=http://localhost:3000,http://localhost:5173,https://myapp.com

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
 w
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=fahim.devx@gmail.com
MAIL_PASSWORD=xvhn givx aavk mibk
MAIL_FROM_ADDRESS=fahim.devx@gmail.com
MAIL_FROM_NAME=strabra

GOOGLE_APP_ID=
GOOGLE_APP_SECRET=
GOOGLE_CALLBACK_URL=${APP_URL}/api/auth/google/redirect

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_BUCKET=
AWS_URL=
AWS_ENDPOINT=

GCP_PROJECT_ID=
GCP_KEY_FILE=
GCP_API_ENDPOINT=
GCP_BUCKET=

# system user
SYSTEM_USERNAME=admin
SYSTEM_EMAIL=admin@example.com
SYSTEM_PASSWORD=12356

# cloudflared tunnel --url http://localhost:9000